body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50%;
    padding: 20px;
    text-align: center;
}


#kimchae {
    width: 60%;
    border-radius: 40px;
    margin-bottom: 20px;
}